* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.3%;
}

.container {
    background-color: #f5f3f3;
}

.container nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: blue;
    margin-bottom: 30px;
    color: #333;
}

nav#Carrito {
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

nav#Carrito a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-card {
    display: none;
}

.container nav button {
    display: none;
}

.nav-card li {
    list-style: none;
    padding: 1rem;
    font-weight: bold;
}

.container nav i:hover > .buy-card {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #fff;
}

.container nav i:hover .nav-card {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
    border-bottom: solid thin #e1e1e1;
}

.container nav i:hover .buy-card > button {
    display: block;
    width: 90%;
    padding: 1rem;
    margin: 10px;
    background-color: transparent;
    border: solid thin #e1e1e1;
    color: #494848;
    cursor: pointer;
}

.container nav i:hover .buy-card > button:hover {
    border: solid thin #494848;
    transition: all .4s;
}

.container nav i {
    font-size: 3rem;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #222;
}

.grid {
    display: grid;
    max-width: 1230px;
    justify-content: center;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
    padding-bottom: 50px;
}

.items {
    background-color: #ffff;
    border: solid thin #1e1e1e;
}

.items img {
    width: 100%;
    height: 78%;
}

.info {
    padding: 15px;
}

.info h3 {
    font-size: 1.4rem;
}

.info h3,
.info p {
    color: #222;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.4rem;
}

.precio p:first-child {
    text-decoration: line-through;
}

.precio {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.precio p {
    font-size: 1.8rem;
}

.info button {
    padding: 1rem;
    width: 100%;
    background-color: #33c3f0;
    border: none;
    outline: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.info button:hover {
    background-color: #2da0c3;
    transition: all .3s;
}

/*Acomodar los elementos de nuestro carrito de compras*/
.lista_de_cursos div {
    display: none;
    text-align: center;
    padding: 10px;
    border-top:  solid thin gray;
}

.container nav i:hover .buy-card > .lista_de_cursos  div {
    display: flex;
}

.lista_de_cursos img {
    width: 100px;

}

.lista_de_cursos p{
    width: 300px;
    font-size: 1.3rem;
}

.lista_de_cursos p:nth-child(4) {
    padding-left: 50px;
}

.lista_de_cursos p:last-child span {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
}


/* ESTILOS PARA LA SECCIÓN DEL MAPA */

.map-section {
    width: 100%;
    margin: 2rem 0;
}

.map-section frame {
    width: 100%;
}

/* ESTILOS PARA EL FOOTER */

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
}

.logo-footer {
    margin-top: 10px;
}

.logo-footer img {
    width: 50px;
}
